/*2 ô nhập tk và mk*/
/*
    modal-15: dùng cho add student, user
    modal-16: dùng cho repair student, user
    modal-17: dùng cho remove student, user, class
    modal-18: dùng cho add class
    modal-19: dùng cho repair class
*/
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
    
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
    
}
#left_hiddenform{
    float: left;
    margin-right: 10%;
}
#right_hiddenform{
    float: left;
}
#right_hiddenform_repair{
    float: left;
    margin-top: 28px;
}
.close{ /*nút close của form*/
    margin: -5px;
}

/*id của cả form login*/
#modal-15 {
	margin: 20px 800px 20px 0px;
	width: 100%;
}
/*phần tên form và mục select*/
#modal-15 h4 {
	background-color: #05984f;
    
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	
	font-size: 20px;
	padding: 20px 30px;
    color: #fff;
    width: 765px;
    
    font-weight: bold;
}
/* k biết
#modal-15 h4 span[class*="fontawesome-"] {
	margin-right: 14px;
}*/
/*form*/
#modal-15 fieldset {
	background-color: #fff;
    /*bo tròn 2 góc dưới*/
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
    
    color: #343536;
    line-height: 27px;
    width: 770px;
    display: inline-block;
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-15 fieldset input[type="text"], #modal-15 fieldset input[type="password"] {
	background-color: #eee;
	color: #5a6265;
	padding: 7px 7px;
	width: 350px;
}

#modal-15 fieldset input[type="submit"] {
	background-color: #05984f;
	color: #fff;
	padding: 10px 0;
	width: 85px;
    font-weight: bold;
    font-size: 17px;
}

#modal-15 fieldset input[type="submit"]:hover {
    background-color: #077b41;
    cursor: pointer;
}
/*2 button add và cancel*/
#modal-15 #login_form #btn {
    float: right;
    padding-top: 30px;
    
} 
#modal-15 #login_form #btn .md-close {
    margin-left: 20px;
    margin-right: 20px;
}


/*cột hiện lỗi validate*/
.red_right {
	color: #f95252;
	font-size: 13px;
	float: right;
    margin-top: 3px;
}

.animated {
    
  animation-fill-mode: both
  animation-duration: 2s
    
}



/*id của cả form login*/
#modal-16 {
	margin: 20px 800px 20px 0px;
	width: 100%;
}
/*phần tên form và mục select*/
#modal-16 h4 {
	background-color: #05984f;
    
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	
	font-size: 20px;
	padding: 20px 30px;
    color: #fff;
    width: 765px;
    
    font-weight: bold;
}
/* k biết
#modal-15 h4 span[class*="fontawesome-"] {
	margin-right: 14px;
}*/
/*form*/
#modal-16 fieldset {
	background-color: #fff;
    /*bo tròn 2 góc dưới*/
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
    
    color: #343536;
    line-height: 27px;
    width: 770px;
    display: inline-block;
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-16 fieldset input[type="text"], #modal-16 fieldset input[type="password"] {
	background-color: #eee;
	color: #5a6265;
	padding: 7px 7px;
	width: 350px;
}

#modal-16 fieldset input[type="submit"] {
	background-color: #05984f;
	color: #fff;
	padding: 10px 0;
	width: 85px;
    font-weight: bold;
    font-size: 17px;
}

#modal-16 fieldset input[type="submit"]:hover {
    background-color: #077b41;
    cursor: pointer;
}
/*float username và btn check lên 1 hàng*/
#modal-16 #login_form2 #top {
   display:flex;   /*tách biệt với các object ngoài div này*/
    
} 
#modal-16 #login_form2 #left_top {
    padding-top: 10px;
    float: left;
    
} 
#modal-16 #login_form2 #right_top {
    padding-top: 32px;
    float: left;
    margin: 0px 300px 0px 20px;
}
#modal-16 #login_form2 h3 {
    margin: 15px 0px 0px 0px;
    font-size: 20px;
} 
/*các label và ô input nhập vào repair student*/
/*2 button repair và cancel*/
#modal-16 #login_form2 #btn {
    float: right;
    margin-top: 20px;
    
} 
#modal-16 #login_form2 #btn .md-close {
    margin-left: 20px;
    margin-right: 20px;
}




/*id của cả form login*/
#modal-17 {
	margin: 20px 800px 20px 0px;
	width: 100%;
}
/*phần tên form và mục select*/
#modal-17 h4 {
	background-color: #05984f;
    
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	
	font-size: 20px;
	padding: 20px 30px;
    color: #fff;
    width: 380px;
    
    font-weight: bold;
}
/* k biết
#modal-15 h4 span[class*="fontawesome-"] {
	margin-right: 14px;
}*/
/*form*/
#modal-17 fieldset {
	background-color: #fff;
    /*bo tròn 2 góc dưới*/
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
    
    color: #343536;
    line-height: 27px;
    width: 384px;
    display: block;
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-17 fieldset input[type="text"]{
	background-color: #eee;
	color: #5a6265;
	padding: 7px 7px;
	width: 370px;
}

#modal-17 fieldset input[type="submit"] {
	background-color: #05984f;
	color: #fff;
	padding: 10px 0;
	width: 85px;
    font-weight: bold;
    font-size: 17px;
}

#modal-17 fieldset input[type="submit"]:hover {
    background-color: #077b41;
    cursor: pointer;
}
/*2 button add và cancel*/
#modal-17 #login_form3 #btn {
    float: right;
    padding-top: 24px;
    
} 
#modal-17 #login_form3 #btn .md-close {
    margin-left: 20px;
    margin-right: 20px;
}



/*id của cả form login*/
#modal-18 {
	margin: 20px 800px 20px 0px;
	width: 100%;
}
/*phần tên form và mục select*/
#modal-18 h4 {
	background-color: #05984f;
    
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	
	font-size: 20px;
	padding: 20px 30px;
    color: #fff;
    width: 395px;
    
    font-weight: bold;
}
/* k biết
#modal-15 h4 span[class*="fontawesome-"] {
	margin-right: 14px;
}*/
/*form*/
#modal-18 fieldset {
	background-color: #fff;
    /*bo tròn 2 góc dưới*/
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
    
    color: #343536;
    line-height: 27px;
    width: 400px;
    display: inline-block;
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-18 fieldset input[type="text"]{
	background-color: #eee;
	color: #5a6265;
	padding: 7px 7px;
	width: 382px;
}

#modal-18 fieldset input[type="submit"] {
	background-color: #05984f;
	color: #fff;
	padding: 10px 0;
	width: 85px;
    font-weight: bold;
    font-size: 17px;
}

#modal-18 fieldset input[type="submit"]:hover {
    background-color: #077b41;
    cursor: pointer;
}
/*2 button add và cancel*/
#modal-18 #login_form4 #btn {
    float: right;
    padding-top: 30px;
    
} 
#modal-18 #login_form4 #btn .md-close {
    margin-left: 20px;
    margin-right: 20px;
}




/*id của cả form login*/
#modal-19 {
	margin: 20px 800px 20px 0px;
	width: 100%;
}
/*phần tên form và mục select*/
#modal-19 h4 {
	background-color: #05984f;
    
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	
	font-size: 20px;
	padding: 20px 30px;
    color: #fff;
    width: 515px;
    
    font-weight: bold;
}
/* k biết
#modal-15 h4 span[class*="fontawesome-"] {
	margin-right: 14px;
}*/
/*form*/
#modal-19 fieldset {
	background-color: #fff;
    /*bo tròn 2 góc dưới*/
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
    
    color: #343536;
    line-height: 27px;
    width: 520px;
    display: inline-block;
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-19 fieldset input[type="text"] {
	background-color: #eee;
	color: #5a6265;
	padding: 7px 7px;
	width: 370px;
}

#modal-19 fieldset input[type="submit"] {
	background-color: #05984f;
	color: #fff;
	padding: 10px 0;
	width: 85px;
    font-weight: bold;
    font-size: 17px;
}

#modal-19 fieldset input[type="submit"]:hover {
    background-color: #077b41;
    cursor: pointer;
}
/*float username và btn check lên 1 hàng*/
#modal-19 #login_form5 #top {
   display:flex;   /*tách biệt với các object ngoài div này*/
    
} 
#modal-19 #login_form5 #left_top {
    padding-top: 10px;
    float: left;
    
} 
#modal-19 #login_form5 #right_top { /*btn check*/
    padding-top: 32px;
    float: left;
    margin: 0px 25px 0px 20px;
}
#modal-19 #login_form5 h3 {
    margin: 15px 0px 0px 0px;
    font-size: 20px;
} 
/*các label và ô input nhập vào repair student*/
/*2 button repair và cancel*/
#modal-19 #login_form5 #btn {
    float: right;
    margin-top: 25px;
    
} 
#modal-19 #login_form5 #btn .md-close {
    margin-left: 20px;
    margin-right: 15px;
}
/*cột hiện lỗi validate*/
.red_right1 {
	color: #f95252;
	font-size: 14px;
	float: right;
    margin-right: 5px;
}
/*cột hiện lỗi validate*/
.red_right2 {
	color: #f95252;
	font-size: 14px;
	float: right;
    margin-right: 134px;
}


/*id của cả form login*/
#modal-20 {
	margin: 60px auto 20px auto;
	width: 70%;

}
/*phần tên form và mục select*/
#modal-20 h4 {
        background: #fff;
	/*TÍM MỘNG MƠ200	226	177
    background: -webkit-linear-gradient(top, rgba(236, 236, 236, 1) 100%, rgba(0, 0, 0, 0.6) 500%);
    background: linear-gradient(to bottom, rgba(230, 241, 216, 1) 100%, rgba(0.9, 0, 0, 0.6) 100%);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);*/
    
    
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
}
/*mục select sau tên form "Login" để chọn student hay admin*/
#modal-20 select {
    /*background-color: #05984f;*/
    font-size: 16px;
	padding: 3px;
    color: #fff;
    color: black;
    border: 0.5px solid #9b9999;
    margin-left: 8px;
    
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}
/* k biết
#modal-15 h4 span[class*="fontawesome-"] {
	margin-right: 14px;
}*/
/*form*/
#modal-20 fieldset {
	background-color: #fff;
    /*bo tròn 2 góc dưới*/
	
	padding: 28px 20px 30px 20px;
    color: #343536;
    line-height: 27px;
    width: 100%;
    display: inline-block;
    border: 1px solid #9b9999;
    
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-20 fieldset input[type="text"], #modal-20 fieldset input[type="password"] {
	color: #5a6265;
	padding: 4.5px 5px;
	width: 100%;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    
    margin-bottom: 5px;
}

#modal-20 fieldset input[type="submit"] {
	/*background-color: #05984f;*/
	padding: 5px 2px;
	width: 72px;
    font-weight: bold;
    font-size: 16px;
    background: #e8e4e4;
    
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#modal-20 fieldset input[type="submit"]:hover {
    background-color: #0caa5c;
    cursor: pointer;
}
/*2 button add và cancel*/
#modal-20 #login_form7 #btn {
    float: right;
    padding-top: 40px;
} 
#modal-20 #login_form7 #btn .animated{
    color: #fff;
    background: #2a94cc;
}
#modal-20 #login_form7 #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-20 #login_form7 #btn .md-close {
    margin-left: 25px;
    margin-right: 15px;
    color: #fff;
    background: #87969f;
}
#modal-20 #login_form7 #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
/*cột hiện lỗi validate*/
.red_right3 {
	color: #f95252;
	font-size: 13px;
	float: right;
    margin-top: 2px;
}


/*id của cả form login*/
#modal-21 {
	margin: 60px auto 20px auto;
	width: 100%;

}
/*phần tên form và mục select*/
#modal-21 h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-21 #login_form6{
    background-color: #fff;
    padding: 32px 0px 35px 34px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
        
   
}

/*#modal-15 fieldset div:last-child {
	margin-bottom: 0;
}*/

#modal-21 fieldset input[type="text"], #modal-21 fieldset input[type="password"] {
	width: 330px;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 5px;
}

#modal-21 #login_form6 input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-21 #login_form6 #btn {
    float: right;
    padding-top: 35px;
} 
#modal-21 #login_form6 #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-21 #login_form6 #btn .md-close {
    margin-left: 35px;
    margin-right: 65px;
    color: #fff;
    background: #87969f;
}
#modal-21 #login_form6 #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
/*thiết kế lại phần cột bên phải của REGISTER*/
/*float lại giới tính và 2 radio của nó*/
.sex{
    margin: 14px 78px 0px 0px;
}

/*float lại mục date of birth*/
.lbl_time{
    margin: 14px 14px 15px 0px;

}
.input_time{
    border: 1px solid #d9d9d9;
    padding: 5px;
    width: 100%;
}
/*float classID và thanh select lên hàng*/
.lbl_classID{
    float: left;
    margin: 20px 51px 0px 0px;
}
.select_classID{
    width: 62%;
    float: left;
}
.lbl_authorityID{
    float: left;
    margin: 20px 22px 0px 0px;
}
.select_authorityID{
    width: 62%;
    float: left;
}

/*form ẩn add question*/
#modal-ques {
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
    /*cân bằng lại khi zoom*/
}
#modal-ques #btn{
    padding: 40px 47px 40px 54px;
      /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #9b9999;
}
/*phần tên form và mục select*/
#modal-ques h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
#modal-ques .close:hover{ /*nút close của form*/
    cursor: pointer;
}
#modal-ques #btn .btn_4ops, .btn_3ops {
   padding: 15px;
    font-size: 19px;
    font-weight: bold;
    border: 2px solid #ddb2b2; !important
}
#modal-ques #btn .btn_3ops {
    margin-right: 25px;
}


/*form ẩn add ques với 4 options*/
#modal-4options {
	margin: 60px auto 20px auto;
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/

}
/*phần tên form và mục select*/
#modal-4options h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-4options #login_form_4options{
    background-color: #fff;
    padding: 32px 0px 35px 34px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
        
   
}
#modal-4options fieldset input[type="text"], #modal-4options fieldset input[type="password"] {
	width: 100%;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 5px;
}

#modal-4options #login_form_4options input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-4options #login_form_4options #btn {
    float: right;
    padding-top: 35px;
} 
#modal-4options #login_form_4options #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-4options #login_form_4options #btn .md-close {
    margin-left: 35px;
    margin-right: 65px;
    color: #fff;
    background: #87969f;
}
#modal-4options #login_form_4options #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
.select_ques{
    float: left;
    margin-right: 10px;
}
.select_answer{
    float: left;
}
.lbl_contentgr{
    margin-bottom: 0px;
}
.select_contentgr{
    width: 60%;
}

/*form ẩn add ques với 3 options*/
#modal-3options {
	margin: 60px auto 20px auto;
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
/*phần tên form và mục select*/
#modal-3options h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-3options #login_form_3options{
    background-color: #fff;
    padding: 32px 0px 35px 25px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;   
}
#modal-3options fieldset input[type="text"], #modal-3options fieldset input[type="password"] {
	width: 100%;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 5px;
}
#modal-3options #login_form_3options input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-3options #login_form_3options #btn {
    float: right;
    padding-top: 35px;
} 
#modal-3options #login_form_3options #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-3options #login_form_3options #btn .md-close {
    margin-left: 35px;
    margin-right: 65px;
    color: #fff;
    background: #87969f;
}
#modal-3options #login_form_3options #btn .md-close:hover {
    color: #fff;
    background: #798389;
}



/*form ẩn reqair ques*/
#modal-ques2 {
   	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
#modal-ques2 #btn{
    padding: 40px 47px 40px 54px;
      /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #9b9999;
}
/*phần tên form và mục select*/
#modal-ques2 h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
#modal-ques2 .close:hover{ /*nút close của form*/
    cursor: pointer;
}
#modal-ques2 #btn .btn_4ops, .btn_3ops {
   padding: 15px;
    font-size: 19px;
    font-weight: bold;
    border: 2px solid #ddb2b2; !important
}
#modal-ques2 #btn .btn_3ops {
    margin-right: 25px;
}


/*form ẩn repair question với 4 options*/
#modal-repair-4ops {
	margin: 60px auto 20px auto;
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
/*phần tên form và mục select*/
#modal-repair-4ops h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-repair-4ops #login_form_repair_4ops{
    background-color: #fff;
    padding: 32px 0px 35px 34px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
        
   
}
#modal-repair-4ops fieldset input[type="text"], #modal-repair-4ops fieldset input[type="password"] {
	width: 100%;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 5px;
}

#modal-repair-4ops #login_form_repair_4ops input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-repair-4ops #login_form_repair_4ops #btn {
    float: right;
    padding-top: 35px;
} 
#modal-repair-4ops #login_form_repair_4ops #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-repair-4ops #login_form_repair_4ops #btn .md-close {
    margin-left: 30px;
    margin-right: 65px;
    color: #fff;
    background: #87969f;
}
#modal-repair-4ops #login_form_repair_4ops #btn .md-close:hover {
    color: #fff;
    background: #798389;
}




/*form ẩn repair question với 3 options*/
#modal-repair-3ops {
	margin: 60px auto 20px auto;
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
/*phần tên form và mục select*/
#modal-repair-3ops h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-repair-3ops #login_form_repair_3ops{
    background-color: #fff;
    padding: 32px 0px 35px 34px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
        
   
}
#modal-repair-3ops fieldset input[type="text"], #modal-repair-3ops fieldset input[type="password"] {
	width: 100%;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 5px;
}

#modal-repair-3ops #login_form_repair_3ops input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-repair-3ops #login_form_repair_3ops #btn {
    float: right;
    padding-top: 35px;
} 
#modal-repair-3ops #login_form_repair_3ops #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-repair-3ops #login_form_repair_3ops #btn .md-close {
    margin-left: 30px;
    margin-right: 65px;
    color: #fff;
    background: #87969f;
}
#modal-repair-3ops #login_form_repair_3ops #btn .md-close:hover {
    color: #fff;
    background: #798389;
}


/*form ẩn remove ques,option,authority,class*/
#modal-ques3 {
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
#modal-ques3 #btn{
    padding: 26px 0px 29px 20px;
      /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
    background-color: #fff;
    width: 100%;;
    border: 1px solid #9b9999;
}
/*phần tên form và mục select*/
#modal-ques3 h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	width: 100%;
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
#modal-ques3 .close:hover{ /*nút close của form*/
    cursor: pointer;
}
#modal-ques3 #btn input {
	width: 75%;
    margin-right: 5px;
    float: left;
    color: #5a6265;
	padding: 7px 7px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    
    margin-bottom: 10px;
}
#modal-ques3 #btn .btn_check{
    padding: 10px;
    margin-top: -1px;
}
.red_right_ques3 {
	color: #f95252;
	font-size: 13px;
    margin-top: 3px;
    float: right;
    margin-right: 100px;
}


/*form ẩn add content Group, option, authority,class*/
/*form*/
#modal-3options #login_form_contentGr{
    background-color: #fff;
    padding: 30px 10px 30px 24px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#modal-3options #login_form_contentGr fieldset input[type="text"] {
	width: 95%;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 10px;
}
#modal-3options #login_form_contentGr input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-3options #login_form_contentGr #btn {
    float: right;
    padding-top: 30px;
} 
#modal-3options #login_form_contentGr #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-3options #login_form_contentGr #btn .md-close {
    margin-left: 30px;
    margin-right: 35px;
    color: #fff;
    background: #87969f;
}
#modal-3options #login_form_contentGr #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
#modal-3options .close:hover{ /*nút close của form*/
    cursor: pointer;
}
.red_right_contentGr{
	color: #f95252;
	font-size: 13px;
    margin-top: 3px;
    float: right;
    margin-right: 20px;
}
.red_right_contentGr2{
    color: #f95252;
	font-size: 13px;
    margin-top: 3px;
    float: right;
    margin-right: 79px;
}
.top_perinfo{
    margin-bottom: 39px;
}

/*form ẩn repair content Group, option, authority,class*/
/*form*/
#modal-4options #login_form_contentGr2{
    background-color: #fff;
    padding: 30px 10px 30px 24px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#modal-4options #login_form_contentGr2 fieldset input[type="text"] {
    width: 95%;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 10px;
}
#modal-4options #login_form_contentGr2 hr{
    margin: 10px 10px 12px 0px;
}
#modal-4options #login_form_contentGr2 input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-4options #login_form_contentGr2 #btn {
    float: right;
    padding-top: 30px;
} 
#modal-4options #login_form_contentGr2 #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-4options #login_form_contentGr2 #btn .md-close {
    margin-left: 30px;
    margin-right: 35px;
    color: #fff;
    background: #87969f;
}
#modal-4options #login_form_contentGr2 #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
#modal-4options .close:hover{ /*nút close của form*/
    cursor: pointer;
}
.red_right_class {
	color: #f95252;
	font-size: 13px;
    margin-top: 3px;
    float: right;
    margin-right: 80px;
}
.red_right_add2e {
	color: #f95252;
	font-size: 13px;
    margin-top: 3px;
    float: right;
    margin-right: 20px;
}
.red_right_ctgr{
    color: #f95252;
	font-size: 13px;
    margin-top: 3px;
    float: right;
    margin-right: 20px;
}
/*ô input của trang qly contentgr dài hơn do tên nó dài quá -> ô jquery hiển thị k đủ*/
#modal-4options .inputctgr{
    min-width: 95%;!important;
}



/*form ẩn add student và user*/
#modal-studentuser {
	margin: 60px auto 20px auto;
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
/*phần tên form và mục select*/
#modal-studentuser h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-studentuser #login_form_studentuser{
    background-color: #fff;
    padding: 30px 10px 30px 24px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#modal-studentuser #login_form_studentuser fieldset input[type="text"] {
	width: 320px;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 10px;
}
#modal-studentuser #login_form_studentuser input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-studentuser #login_form_studentuser #btn {
    float: right;
    padding-top: 10px;
} 
#modal-studentuser #login_form_studentuser #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-studentuser #login_form_studentuser #btn .md-close {
    margin-left: 30px;
    margin-right: 35px;
    color: #fff;
    background: #87969f;
}
#modal-studentuser #login_form_studentuser #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
#modal-studentuser .close:hover{ /*nút close của form*/
    cursor: pointer;
}
.phonenumber2{
    margin-bottom: -15px; !important
}


/*form ẩn repair student & user*/
#modal-studentuser2 {
	margin: 60px auto 20px auto;
	width: 70%; /*hiển thị 70% là cân bằng khi thu nhỏ*/
}
/*phần tên form và mục select*/
#modal-studentuser2 h4 {
    background: #fff;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	
	font-size: 19px;
	padding: 15px 20px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #9b9999;
    border-left: 1px solid #9b9999;
    border-right: 1px solid #9b9999;
    
}
/*form*/
#modal-studentuser2 #login_form_studentuser2{
    background-color: #fff;
    padding: 30px 10px 30px 24px;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
    border: 1px solid #9b9999;
        /*bo tròn 2 góc dưới*/
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#modal-studentuser2 #login_form_studentuser2 fieldset input[type="text"] {
	width: 320px;
    color: #5a6265;
	padding: 4px 5px;
    border: 1px solid #9b9999;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 10px;
}
#modal-studentuser2 #login_form_studentuser2 input[type="submit"] {
	color: #fff;
    padding: 5px 5px;
	width: 95px;
    font-weight: bold;
    font-size: 16px;
    background: #2a94cc;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*2 button add và cancel*/
#modal-studentuser2 #login_form_studentuser2 #btn {
    float: right;
    padding-top: 10px;
} 
#modal-studentuser2 #login_form_studentuser2 #btn .animated:hover{
    color: #fff;
    background: #2582b4;
}
#modal-studentuser2 #login_form_studentuser2 #btn .md-close {
    margin-left: 30px;
    margin-right: 35px;
    color: #fff;
    background: #87969f;
}
#modal-studentuser2 #login_form_studentuser2 #btn .md-close:hover {
    color: #fff;
    background: #798389;
}
#modal-studentuser2 .close:hover{ /*nút close của form*/
    cursor: pointer;
}

/*cột hiện lỗi validate*/
.red_right_perinfo {
	color: #f95252;
	font-size: 13px;
	float: right;
    margin-bottom: 20px;
}

/*
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
*/

/*hiệu ứng ẩn form*/
/*
    md-modal: sử dụng cho add, repair student & user
    md-modal3: sử dụng cho removie student, user, class
    md-modal5: sử dụng cho add, repair class
*/
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 785px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
        /*Xác định một dịch chuyển 2D, nó chỉ dựa vào trục chính mà dịch chuyển cho ngay trung tâm*/
	transform: translateX(-50%) translateY(-50%);
}
.md-modal3 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 430px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
        /*Xác định một dịch chuyển 2D, nó chỉ dựa vào trục chính mà dịch chuyển cho ngay trung tâm*/
	transform: translateX(-50%) translateY(-50%);
}
.md-modal5 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 430px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
        /*Xác định một dịch chuyển 2D, nó chỉ dựa vào trục chính mà dịch chuyển cho ngay trung tâm*/
	transform: translateX(-50%) translateY(-50%);
}
.md-modal7 {
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 430px;
	min-width: 320px;
    margin-top: 20%;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
        /*Xác định một dịch chuyển 2D, nó chỉ dựa vào trục chính mà dịch chuyển cho ngay trung tâm*/
	transform: translateX(-50%) translateY(-50%);
}

/*hiệu ứng hiện form*/
.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	/==background: rgba(143,27,15,0.8);==/
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}



/*
.md-content {
	color: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}
*/




/* Effect 11: Super scaled: siêu quy mô,  */
.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2); /*Xác định một biến đổi tỷ lệ, 2D. Tỷ lệ khi hiện form ra là 2, chỉnh 10 thì nó lúc hiện form ra gần to bằng màn hình r thu lại bằng form, hiệu ứng khá nhanh*/
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;  /*hiệu ứng làm chậm chuyển đổi trong 0.3s*/
}
.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


/*==============================================HIỆU ỨNG NÀY K CÓ SỬ DỤNG================================================================*/



/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 2: Slide from the right */
.md-effect-2 .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect-2 .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

/* Effect 4: Newspaper */
.md-effect-4 .md-content {
	-webkit-transform: scale(0) rotate(720deg);
	-moz-transform: scale(0) rotate(720deg);
	-ms-transform: scale(0) rotate(720deg);
	transform: scale(0) rotate(720deg);
	opacity: 0;
}

.md-show.md-effect-4 ~ .md-overlay,
.md-effect-4 .md-content {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show.md-effect-4 .md-content {
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
	opacity: 1;
}

/* Effect 5: fall */
.md-effect-5.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-5 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(600px) rotateX(20deg); 
	-moz-transform: translateZ(600px) rotateX(20deg); 
	-ms-transform: translateZ(600px) rotateX(20deg); 
	transform: translateZ(600px) rotateX(20deg); 
	opacity: 0;
}

.md-show.md-effect-5 .md-content {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translateZ(0px) rotateX(0deg);
	-moz-transform: translateZ(0px) rotateX(0deg);
	-ms-transform: translateZ(0px) rotateX(0deg);
	transform: translateZ(0px) rotateX(0deg); 
	opacity: 1;
}

/* Effect 6: side fall */
.md-effect-6.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-6 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate(30%) translateZ(600px) rotate(10deg); 
	-moz-transform: translate(30%) translateZ(600px) rotate(10deg);
	-ms-transform: translate(30%) translateZ(600px) rotate(10deg);
	transform: translate(30%) translateZ(600px) rotate(10deg); 
	opacity: 0;
}

.md-show.md-effect-6 .md-content {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translate(0%) translateZ(0) rotate(0deg);
	-moz-transform: translate(0%) translateZ(0) rotate(0deg);
	-ms-transform: translate(0%) translateZ(0) rotate(0deg);
	transform: translate(0%) translateZ(0) rotate(0deg);
	opacity: 1;
}

/* Effect 7:  slide and stick to top */
.md-effect-7{
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.md-effect-7 .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.md-show.md-effect-7 .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
}

/* Effect 8: 3D flip horizontal: 3D lật ngang */
.md-effect-8.md-modal {
    /*Định nghĩa một biến đổi 3D dưới dạng phối cảnh.*/
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-8 .md-content {
    /*Các thành phần bên trong sẽ giữ vị trí 3D của nó.*/
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
    /*Định nghĩa một phép quay 3D dọc theo trục Y..*/
	-webkit-transform: rotateY(-70deg);
	-moz-transform: rotateY(-70deg);
	-ms-transform: rotateY(-70deg);
	transform: rotateY(-70deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

.md-show.md-effect-8 .md-content {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	opacity: 1;
}

/* Effect 9: 3D flip vertical */
.md-effect-9.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-9 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-70deg);
	-moz-transform: rotateX(-70deg);
	-ms-transform: rotateX(-70deg);
	transform: rotateX(-70deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

.md-show.md-effect-9 .md-content {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}

/* Effect 10: 3D sign */
.md-effect-10.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-10 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-60deg);
	-moz-transform: rotateX(-60deg);
	-ms-transform: rotateX(-60deg);
	transform: rotateX(-60deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-10 .md-content {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}


/* Effect 12:  Just me */
.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background: #e74c3c;
} 

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 13: 3D slit */
.md-effect-13.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-13 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
	-moz-transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform: translateZ(-3000px) rotateY(90deg);
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}

.md-show.md-effect-13 .md-content {
	-webkit-animation: slit .7s forwards ease-out;
	-moz-animation: slit .7s forwards ease-out;
	animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
	50% { -webkit-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
	100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
	50% { -moz-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -moz-animation-timing-function: ease-out;}
	100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
	50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
	100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

/* Effect 14:  3D Rotate from bottom */
.md-effect-14.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-14 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateY(100%) rotateX(90deg);
	-moz-transform: translateY(100%) rotateX(90deg);
	-ms-transform: translateY(100%) rotateX(90deg);
	transform: translateY(100%) rotateX(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.md-show.md-effect-14 .md-content {
	-webkit-transform: translateY(0%) rotateX(0deg);
	-moz-transform: translateY(0%) rotateX(0deg);
	-ms-transform: translateY(0%) rotateX(0deg);
	transform: translateY(0%) rotateX(0deg);
	opacity: 1;
}

/* Effect 15:  3D Rotate in from left: 3D quay từ bên trái */
.md-effect-15.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-15 .md-content {
    /*Định nghĩa một biến đổi 3D dưới dạng phối cảnh.*/
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
    /*ratateY: Định nghĩa một phép quay 3D dọc theo trục Y.
    translateZ,X: Xác định một dịch chuyển 2D theo trục Z,X.*/
	-webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
    /*thời gian chuyển động khi gê chuột vào 0.3s, chậm hơn bthg */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-15 .md-content {
	-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}

/* Effect 16:  Blur */
.md-show.md-effect-16 ~ .md-overlay {
	background: rgba(180,46,32,0.5);
}

.md-show.md-effect-16 ~ .container {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

.md-effect-16 .md-content {
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	transform: translateY(-5%);
	opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

/* Effect 17:  Slide in from bottom with perspective on container */
.md-show.md-effect-17 ~ .container {
	height: 100%;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}	

.md-show.md-effect-17 ~ .container,
.md-show.md-effect-17 ~ .md-overlay  {
	-webkit-transform: rotateX(-2deg);
	-moz-transform: rotateX(-2deg);
	-ms-transform: rotateX(-2deg);
	transform: rotateX(-2deg);
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.md-effect-17 .md-content {
	opacity: 0;
	-webkit-transform: translateY(200%);
	-moz-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
}

.md-show.md-effect-17 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-transition: all 0.3s 0.2s;
	-moz-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
}

/* Effect 18:  Slide from right with perspective on container */
.md-show.md-effect-18 ~ .container {
	height: 100%;
	overflow: hidden;
}

.md-show.md-effect-18 ~ .md-overlay {
	background: rgba(143,27,15,0.8);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show.md-effect-18 ~ .container,
.md-show.md-effect-18 ~ .md-overlay {
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 0% 50%;
	-moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
	animation: rotateRightSideFirst 0.5s forwards ease-in;
}

@-webkit-keyframes rotateRightSideFirst {
	50% { -webkit-transform: translateZ(-50px) rotateY(5deg); -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: translateZ(-200px); }
}

@-moz-keyframes rotateRightSideFirst {
	50% { -moz-transform: translateZ(-50px) rotateY(5deg); -moz-animation-timing-function: ease-out; }
	100% { -moz-transform: translateZ(-200px); }
}

@keyframes rotateRightSideFirst {
	50% { transform: translateZ(-50px) rotateY(5deg); animation-timing-function: ease-out; }
	100% { transform: translateZ(-200px); }
}

.md-effect-18 .md-content {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
	opacity: 0;
}

.md-show.md-effect-18 .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}

/* Effect 19:  Slip in from the top with perspective on container */
.md-show.md-effect-19 ~ .container {
	height: 100%;
	overflow: hidden;
}

.md-show.md-effect-19 ~ .md-overlay {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show.md-effect-19 ~ .container,
.md-show.md-effect-19 ~ .md-overlay {
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: OpenTop 0.5s forwards ease-in;
	-moz-transform-style: preserve-3d;
	-moz-transform-origin: 50% 100%;
	-moz-animation: OpenTop 0.5s forwards ease-in;
	transform-style: preserve-3d;
	transform-origin: 50% 100%;
	animation: OpenTop 0.5s forwards ease-in;
}

@-webkit-keyframes OpenTop {
	50% { 
		-webkit-transform: rotateX(10deg); 
		-webkit-animation-timing-function: ease-out; 
	}
}

@-moz-keyframes OpenTop {
	50% { 
		-moz-transform: rotateX(10deg); 
		-moz-animation-timing-function: ease-out; 
	}
}

@keyframes OpenTop {
	50% { 
		transform: rotateX(10deg); 
		animation-timing-function: ease-out; 
	}
}

.md-effect-19 .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	opacity: 0;
}

.md-show.md-effect-19 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}